<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customers Page</title>
</head>
<body>
    {% extends 'base.html' %}
{% block content %}
<h1>Customer Name: {{ cust}}</h1>
<h1>Orders</h1>
&nbsp;
<table class="table">
{% for i in orders %}
<tr>
<td>{{i.product}}</td>
</tr>
{% endfor %}
</table>
<a href="{% url 'home' %}"><button type="button" class="btn btn-success">Home Window</button></a>
{% endblock %}
</body>
</html>
