<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders Page</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<table class="table">
    <tr>
    <th>Update</th>
    <th>Name</th>
    <th>Product</th>
    <th>Status</th>
    </tr>
    {% for order in orders %}
    <tr>
        <td><a href="{% url 'update_order' order.id %}"><button type="button" class="btn btnsuccess">
            Update Order</button></a></td>
            <td>{{order.customer}}</td>
            <td>{{order.product}}</td>
            <td>{{order.status}}</td>
            <td><a href="{% url 'delete_order' order.id %}"><button type="button" class="btn btn-success">Delete
                Order</button></a></td>
            </tr>
            {% endfor %}
            </table>
{% endblock %}
</body>
</html>
